// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.politian-card {
  a {
    color: inherit;
  }
}

.cities-list {
  ul {
    margin: 20px 0;
    li {
      margin: 10px 0;
    }
  }
}
